[alias]
		glog = log --oneline --graph --decorate --all
		plog = log --pretty=format:'%C(yellow)%h %Cblue%>(12)%ar %Cgreen%<(7)%aN %Creset%s'
		amend = commit --amend -a -n -C HEAD

[log]
		abbrevCommit=true

[user]
		name = Greg Marlow
		email = greg.marlow@kraken.tech

[rebase]
        autosquash = true
        autostash = true

[merge]
		conflictstyle = zdiff3

[credential]
		helper = osxkeychain

[core]
        excludesfile = /Users/greg.marlow/.gitignore_global
        fsmonitor = 1
        untrackedCache = true
[pull]
        ff = only
        rebase = true
[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
[maintenance]
        repo = /Users/greg.marlow/Workspace/kraken-core
[branch]
        sort = -committerdate
[advice]
        macheteEditorSelection = false
[url "git@github.com:"]
        insteadOf = https://github.com/
[scalar]
        repo = /Users/greg.marlow/Workspace/kraken-core
[rerere]
        enabled = true
        autoupdate = true
[init]
        defaultBranch = main
[checkout]
        workers = 0
[diff]
        algorithm = histogram
[push]
        autoSetupRemote = true
[commit]
        verbose = true
[machete "github"]
        prDescriptionIntroStyle = full-no-branches