[alias]
glog = log --oneline --graph --decorate --all
plog = log --pretty=format:'%C(yellow)%h %Cblue%>(12)%ar %Cgreen%<(7)%aN %Creset%s'
amend = commit --amend -a -n -C HEAD

[log]
abbrevCommit=true

[rebase]
	autosquash = true

[merge]
conflictstyle = diff3

[credential]
helper = osxkeychain

[core]
	excludesfile = /Users/gregmarlow/.gitignore_global
[pull]
	ff = only
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /private/var/folders/mg/gwchfc0j65348_2lhbgd42kw0000gn/T/AppTranslocation/766F47CF-C8BF-46B7-9A82-7181FA482CAF/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f